@model Person

<div>

    <form method="post" asp-action="ReportView">

        
        <input  type="text" asp-for="name" placeholder="name"/>
         
            <input  type="submit" value="نمایش گزارش با فیلتر"/>
    </form>

</div>